# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: build
on: [pull_request, push]

jobs:
  build:
    strategy:
      matrix:
        # Use these Java versions
        java: [
          21,    # Current Java LTS
        ]
        mod: [
          "allium",
          "bouquet"
        ]
    runs-on: ubuntu-22.04
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'jetbrains'
      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: build ${{ matrix.mod }}
        run: ./gradlew :${{ matrix.mod }}:build
      - name: capture ${{ matrix.mod }} build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.mod }}
          path: ${{ matrix.mod }}/build/libs/